# Ignore all
*

# Unignore all dirs
!*/

# Unignore all .cpp, .hpp, .h files 
!*.cpp
!*.hpp
!*.h

# Unignore .pdf, .docx, .txt, .md files
!*.pdf
!*.docx
!*.txt
!*.md

# Unignore .gitignore
!.gitignore

# Unignore makefile
!makefile
